<h1>Simulations</h1>

<%= link_to 'New Simulation', new_simulation_path, class: 'btn btn-info pull-right' %>

<%= paginate @simulations %>

<div id="simulation-collection" class="row">
  <%= render @simulations %>
</div>

<%= paginate @simulations %>


