<tr class="boundary-corner">
  <td class="field-index">
    A
  </td>
  <td class="corner-index">
    B
  </td>
  <td>
    <input type="number" step="any" class="latitude">
  </td>
  <td>
    <input type="number" step="any" class="longitude">
  </td>
  <td>
     <button class="btn btn-xs btn-danger remove"><i class="fa fa-o-cross"></i> Remove</button>
  </td>
</tr>

