<div class="bs-callout bs-callout-info">
  <h4>Establishing your farm's elevation</h4>
  <p>
    You need to provide your farm's elevation. 
  </p>
</div>

<div id="farm_elevation_map"></div>

<table class="table">
  <theader>
    <tr>
      <th>Marker</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Elevation</th>
    </tr>
  </theader>
  <tbody id="elevation-samples">
  </tbody>
</table>
<button id="add-elevation-sample" type="button" class="btn btn-default" data-char="A" data-content='<%= render partial: "elevation_sample" %>'>Add Elevation Sample</button>


