<div class="bs-callout bs-callout-info">
  <h4>Establishing your farm's elevation</h4>
  <p>
    You need to provide your farm's elevation. This can be done in multiple ways: 
  </p>
</div>

<canvas id="elevation_bitmap"></canvas>
