<tr class="elevation-sample">
  <td>A</th>
  <td>
    <input type="number" step="any" class="latitude">
  </td>
  <td>
    <input type="number" step="any" class="longitude">
  </td>
  <td>
    <input type="number" step="any" class="elevation">
  </td>
  <td>
    <button type="button" class="btn btn-danger">&times; Remove</button>
  </td>
</tr>

