<div class="bs-callout bs-callout-info">
  <h4>Establishing your farm's soil characteristics</h4>
  <p>
     You need to provide the soil profiles your farm.
  </p>
</div>

<div id="farm_soil_profile_map"></div>

<table class="table">
  <theader>
    <tr>
      <th>Marker</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Properties</th>
    </tr>
  </theader>
  <tbody id="soil-samples">
  </tbody>
</table>
<button id="add-soil-sample" type="button" class="btn btn-default" data-char="A" data-content='<%= render partial: "soil_sample" %>'>Add Soil Sample</button>
