<div class="bs-callout bs-callout-info">
  <h4>Establishing your farm's soil characteristics</h4>
  <p>
     You need to provide the soil profiles your farm.
  </p>
</div>


<div id="farm_soil_profile_map"></div>

