<h1>Soil Models</h1>

<div class="well">
  <i class="fa fa-lightbulb-o"></i> A soil model updates the soil 
  properties for the land in your simulation, providing the nutrients
  and water needed to model crop growth, as well as handling the 
  results of rain and snow.  Read the model descriptions to learn
  how a specific soil model works.
</div>

<div id="soil-collection" class="row">
  <% @soils.each do |soil| %>
    <%= render soil %>
  <% end %>
</div>

<%= link_to 'New Soil Model', new_soil_path %>
