<div class="well">
  <div class="btn-groupy">
    <button id="run" role="button" class="btn btn-success">
      <i class="fa fa-play-circle-o"></i>
      Run Weather Simulation
    </button>
    <button id="save" role="button" class="btn btn-info">
      <i class="fa fa-floppy-o"></i>
      Save weather
    </button>
    <span id='message' class="alert"></span>
  </div>
<br>
  <div id="weather-editor" data-weather-id="<%= @weather.id %>" style="height: 80%; width: 100%;"></div>
  <xml id="toolbox" style="display: none">

    <category name="TEST">
      <a href="#">GRRR</a>
    </category>

    <category name="Operators">
      <block type="math_on_list"></block>
    </category>
    <category name="Lists">
      <block type="lists_create_with"></block>
      <a id="list_from_json" href="#">List from JSON</a>
    </category>

    <category name="stuff">
      <block type="net_http_request"></block>
      <block type="set_weather"></block>
      <block type="controls_if"></block>
      <block type="controls_repeat_ext"></block>
      <block type="logic_compare"></block>
      <block type="math_number"></block>
      <block type="math_arithmetic"></block>
      <block type="text"></block>
      <block type="text_print"></block>
<block type="variables_set"><field name="VAR">heat units</field></block>
    </category>      
    <category name="entry points">
      <block type="procedures_defnoreturn">
        <field name="NAME">before water and nutrient allocation</field>
      </block>
      <block type="procedures_defnoreturn">
        <field name="NAME">between water and nutrient allocation</field>
      </block>
      <block type="procedures_defnoreturn">
        <field name="NAME">after water and nutrient allocation</field>
      </block>
    </category>
    <category name="functions" custom="PROCEDURE"></category>
    <category name="variables" custom="VARIABLE">
    </category>
  </xml>
  <%= @weather.workspace.html_safe %>
  <!--xml id="workspace" style="display:none"><block type="procedures_defnoreturn" id="4" x="39" y="27"><mutation></mutation><field name="NAME">before water and nutrient allocation</field><statement name="STACK"><block type="text_print" id="12" inline="false"><value name="TEXT"><block type="text" id="23"><field name="TEXT">Hello?</field></block></value></block></statement></block></xml-->

</div>
