<h1>Crop Models</h1>

<%= link_to 'New Crop Model', new_crop_path, class: 'btn btn-info pull-right', role: 'button' %>

<%= paginate @crops, remote: true %>

<div id="crop-collection" class="row">
  <%= render @crops %>
</div>

<%= paginate @crops %>

