<div class="header">
	External References
</div>
<div class="information">
	<i class="fa fa-lightbulb-o"></i>
	Listed below are some of the great resouces
	where you can learn more and expand your knowledge.
</div>
<ul class="list">
	<li>
		For all your search needs:
		<a href="www.google.com">
			Google
		</a>
	</li>
	<li>
		For all your social needs:
		<a href="www.facebook.com">
			Facebook
		</a>
	</li>
	<li>
		For all your media needs:
		<a href="www.twitter.com">
			Twitter
		</a>
	</li>
</ul>