// Place all the styles related to the farms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#farm-map, #farm_field_map, #farm_elevation_map, #farm_soil_profile_map {
  height: 500px;
  width: 100%;
}

#farm-collection .farm {
  width: 20%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  float: left;
  
  overflow: hidden;
}

.farm .btn {
  margin-top: 10px;
}

.farm-new-btn
{
	margin-top: 15px;
}


#tag_cloud
{
	width: 400px;
	line-height: 1.6em;
	.s { font-size: 0.8em; }
	.m { font-size: 1.2em; }
	.l { font-size: 1.8em; }
}
.tagHighlightedClass
{
	background-color: yellow;
}