// Place all the styles related to the references controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.information
{
	min-height: 20px;
	max-width: 48%;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px
}
.list
{
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 15px 0px;
	max-width: 48%;
	list-style-type: none;
}
.step
{
	color: red;
}
.img-wrapper
{
	display: inline-block;
	max-width: 45%;
	height: auto;
	float: right;
	border-radius: 4px;
	overflow: hidden;
}
.pic
{
	width: 100%;
	height: auto;
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}