// Place all the styles related to the references controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header
{
	font-size: 35px;
}
.information
{
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px
}
.list
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 15px 0px;
	list-style-type: none;
}