#simulation-calendar {
  border: 2px solid rgb(51,51,51);
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

#calendar-month {
  font-weight: bold;
  font-size: 10pt;
  color: white;
  background-color: rgb(51,51,51);
}

#calendar-day {
  font-size: 15pt;
}
