// Place all the styles related to user information here
// This includes but is not limited to sign in, sign up, forgot password, edit user, etc.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.information
{
	padding: 19px 19px 19px 19px;
	margin: 0px 0px 10px 0px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	display: inline-block;
}
.input
{
	padding: 0px 0px 10px 0px;
}
