// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#weather-collection .weather {
  width: 20%;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}

.weather .btn {
  margin-top: 10px;
}
