// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.imgHolder
{
	display: inline-block;
	max-width: 50%;
	min-width: 50%;
	height: auto;
	float: right;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-radius: 4px;
	overflow: hidden;
}
.farmland
{
	max-width: 100%;
	min-width: 100%;
	height: auto;
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}
.descriptionHolder
{
	display: inline-block;
	max-width: 50%;
	min-width: 50%;
	float: left;
	padding: 0px 15px 0px 0px;
	margin: 0px 0px 15px 0px;
}
.description
{
	
	padding: 19px 19px 19px 19px;
	margin: 0px 0px 0px 0px;
	text-align: justify;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}
.about
{
	font-size: 20px;
}
.login
{
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 15px;
}
#sign-up-button
{
	margin-right: 5px;
}